@charset "UT-8";
/* CSS Document */
@media screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
    .half_container {
        width: 80%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    ul#menu li a.button {
        padding: 20px 75px;
    }
    iframe{
        width: 100%;
    }
    #title-page{
        margin-top: 200px;
    }
    #splash{
        height: 748px;
        background-size: 1100px;
    }
    p{
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    ul#menu li a.button {
        padding: 20px 32px;
    }
    img{
        width: 100%;
        height: auto;
    }
    #credits img{
        width: 120px;	
    }
    #title-page{
        margin-top: 350;
    }
    #splash{
        height: 542px;
        background-size: 767px;
    }
}

@media screen and (max-width: 470px) {
    ul#menu li a.button {
        padding: 10px;
        font-size: 0.7em;
    }
    #title-page{
        margin-top: 150px;
    }
    #splash{
        height: 340px;
        background-size: 470px;
    }
}
