@charset "UT-8";
/* CSS Document */

/* --------------------------- HTML TAG STYLES ----------------------------- */

body{
    margin: 0;
    padding: 0;
    color: #7C11B6;
    font-family: Verdana, Geneva, sans-serif;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
ul {
    margin: 10px;
}
li {
  font-size: 16px;
  margin-left: 10px;
  line-height: 1.2em;
}
h1 {
  padding: 10px 0;
}
h3 {
  padding: 10px 0;
  font-weight: bold;
}

table {
    border: none;
    padding: 20px;
}
td {
	padding: 8px;
	border: dashed #898688 2px;
}

a:link {
	color: #6297F9;
}
a:visited {
	color: #6297F9;
}
a:hover {
	color: #4578DF;
	text-decoration: none;
}

/* -------------------------- PAGE SECTIONS ---------------------------- */

#splash{
    height: 900px;
    background: url(images/codenew.jpg) no-repeat center top fixed;
    background-size: cover;
}

#overview{
    padding: 30px 0 40px 0;
    background-color: #F890B2;
}

#video{
    padding: 30px 0 40px 0;
    background: url(images/peoplesmall.jpg) no-repeat center top fixed;
    background-size: cover;
}

#tips{
    padding: 30px 0 40px 0;
    background-color: #BCF1B5;
}

#footer{
    padding: 30px 0 40px 0;
    background-color: #0D128A;
}

/* ---------------- CONTAINER STYLES ----------------- */

.container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.half_container { /* provides a two column presentation */
  width: 50%;
  float: left;
  overflow: hidden;
}

/* ----------------- NAVIGATION BAR STYLES -------------------*/ 

#navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(176, 243, 189, 0.9); 
}	

ul#menu {
	list-style: none;
	padding-top: 0px;
} 
ul#menu li {
	float: left;
	padding-bottom: 20px;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	padding: 20px 100px 20px 100px;
}
ul#menu li a.button:hover {
	background-color: rgba(43, 188, 239, 0.3);
}

/* ---------------- TITLE PAGE STYLES ------------------- */

#title-page{
  width: 100%;
  padding-top: 80px;
  color: #0D128A;
  text-align: left;
}
#title-page h1 {
  font-family: 'Special Elite', cursive;
  font-size: 100px; 	
  text-shadow: 2px 2px #F890B2;
}
#title-page h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  font-style: italic;
  margin: 0 40px;
  padding-bottom: 20px;
  text-shadow: 2px 2px #F890B2;
}

/* ------------------- FOOTER CREDITS --------------------- */

#credits {
  text-align: center;	
}
#credits table{      
  margin: 0 auto;
}
#credits p {
  font-size: .8em;
  color: #BCF1B5;
  margin: 10px 0;
}

/* ---------------------- MISC -----------------------------*/

.fltright{
	float:right;
	margin: 15px;
}
.fltleft{
	float:left;
	margin: 20px 20px 20px 0;
}