@charset "UTF-8";
/*CSS Document created by Rhianna Reichert, February 1, 2016*/

body {
	margin: 0px;
	font-family: Veranda, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	color: #5E66E5;
	background-color: #898788;
	padding: 0px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #050685;
	padding: 10px;
}
h1 {
	font-size: 28px;
	padding: 10px 20px 0px 20px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	line-height: 1em;
}
h2 {
	font-size: 22px;
	padding: 0px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	background-color: #DFF5B5;
}
h3 {
	font-size: 18px;
	letter-spacing: 0.2em;
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #898788;
	padding: 0px;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link,
a:visited {
	font-weight: bold;
	color: #DFF5B5;
	text-decoration: none;
}
a:hover {
	color: #5E66E5;
}

/* list styles ----------------------------- */
ul li {
	margin-left: 12px;
}
ol {
	list-style-image: url(images/mousesmall.png);
	margin-left: 12px;
}

/* table styles -------------------------------------- */
table {
	border: solid #898788 2px;
}
td {
	padding: 8px;
	border: solid #898788 1px;
}
th {
	font-weight: bold;
	background-color: #898788;
	text-align: center;
	padding: 6px;
	border: solid #898788 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #898788 1px;
}

img {
	border: solid #5E66E5 3px;
}
iframe {
	border: dashed #5E66E5 2px;
	padding: 10px;
	margin: 10px;
}

/* DIV STYLES FOR PAGE LAYOUT */
#container {
  width: 1200px;
  margin: 0 auto;
  border: 2px solid #DFF5B5;
  background-color: #F18CAA;
  overflow: hidden;
}

/* Header Styles */
#header{
  width: 100%;
  padding: 0px;
  border-bottom: solid #DFF5B5 2px;
}
#header h3{
  margin: 0;
  padding: 0;
}

/* Main content styles */
#content{
  width: 75%;
  padding: 10px;
  float: right; 
  margin-top: 0px;
}

/* Sidebar styles */
#sidebar{
  width: 200px;
  background-color: #898788;
  padding: 10px;	
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  border: double #DFF5B5 4px;
  border-radius: 20px;
  overflow: hidden;
}
#sidebar h1 {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
#sidebar p {
  font-size: 1em;
  margin: 0;
  padding: 0px;
  letter-spacing: 0;
}
#sidebar img {
  width: 150px;
}

/* Footer styles */
#footer{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  clear: both;
  border-top: dashed #DFF5B5 1px;
}
#footer p {
  font-size: .9em;
  margin: 0 40px;
}
 
